@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ella Y El es una tienda virtual con articulos de calzado para toda clase de necesidad, a la moda y con los mejores precios
    en el mercado. Tenemos el servicio de mensajeria que te lleva tus pedidos a la puerta de tu casa sin precio adicional</p>

