@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tienda Virtual Ella Y El</h1>
    <p class="lead">Tienda Virtual Ella Y El te ofrece el mejor calzado nacional a mejor precio y calidad</p>
    <img src="https://1.bp.blogspot.com/-kmumYAs4jEo/YKXCWufbEYI/AAAAAAAAP4o/6X912pAGnWo-dPLCO3ju4UVgoB78y_xXQCLcBGAsYHQ/s810/Tienda%2BVirtual%2BAdobeStock_365528663.jpg" alt="Girl in a jacket" width="900" height="400">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nuestros Productos</h2>
        <p>Cuentan con las mejores recomendaciones de los usuarios que han comprado su calzado con nosotros</p>
        <img src="https://w7.pngwing.com/pngs/449/760/png-transparent-shoe-footwear-podeszwa-fashion-zapatos-con-alzas-others-brown-leather-suede.png" alt="Girl in a jacket" width="300" height="200">
    </div>
    <div class="col-md-4">
        <h2>Ampliando nuestro catalogo</h2>
        <p>Estamos en constante crecimiento, no dudes en informarnos acerca de que productos te gustaria tener a tu acceso mas rapido y facil</p>
        <img src="https://www.eltiempo.com/files/image_640_428/uploads/2021/04/05/606b84cf4cf3b.jpeg" alt="Girl in a jacket" width="300" height="200">
    </div>
</div>